h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', sans-serif;
}

body {
  font-family: 'Quattrocento', serif;
}

a {
  color: black;
}

a:hover {
  text-decoration: none !important;
  color: black;
}

.navbar-nav > li > a{
  padding: 5px 5px 0 5px !important;
}

.navbar {
  border: 5px solid #54acea;
  border-radius: 2%;
  border-image: linear-gradient(to right bottom, #3acfd5, #3a4ed5);
  border-image-slice: 1;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 42px;
}

.nav-content {
  margin: 0 2%;
}

.home-top {
  margin: 0 3%;
  text-align: center;
}

.home-top h1 {
  color: #ff0000;
  padding-bottom: 25px;
  font-family: 'Eagle Lake', cursive;
}

#featuredDrawings {
  font-family: 'Eagle Lake', cursive;
}

.gallery-top .completed-drawings {
  font-family: 'Eagle Lake', cursive;
  font-size: 30px;
  margin-right: 50px;
}

.gallery-top .search-input {
  margin-right: 25px;
}

.home-top p {
  font-size: 24px;
  color: #3a4ed5
}

.home-drawing {
  padding: 0px 30px 60px 30px;
}

.gallery-top {
  padding-left: 65px;
}

.drawings-display {
  padding: 10px 40px;
}

.gallery-drawings-display {
  padding-top: 30px !important;
}

.drawings-row {
  margin-bottom: 30px;
}

.gallery-drawing-container {
  padding: 0px 40px 60px 40px;
}

.gallery-image {
  width: 100%;
  border-radius: 3%;
}

.drawing-title {
  font-size: 20px;
  font-family: 'Eagle Lake', cursive;
}

.views-label {
  margin-left: 6px;
  font-size: 16px;
}

#view-label-detail {
  padding-right: 300px;
}

#detailContainer {
  font-size: 20px;
}

.detail-info {
    display: inline-block;
    margin-top: 1.5em;
    padding-bottom: 5em;
}

.info-block {
    display: inline-block;
    width: 25%;
}

.info-block:first-child {
    margin-right: 3em;
}

.detail-heading {
    margin-bottom: 1em;
    font-family: 'Eagle Lake', cursive;
}

#detailContainer {
    margin-top: 2em;
    margin-left: 4em;
    text-align: center;
}

#detail-image {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 6px solid #54acea;
    border-radius: 2%;
    border-image: linear-gradient(to right bottom, #3acfd5, #3a4ed5);
    border-image-slice: 1;
}

#featuredDrawings {
    padding-left: 15px;
}

#submitArea {
  font-size: 20px;
  margin: auto 0;
  margin-left: 300px;
}
