h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', sans-serif;
}

body {
  font-family: 'Quattrocento', serif;
}

a:hover {
  text-decoration: none !important;
}

.navbar-nav > li > a{
  padding: 5px 5px 0 5px !important;
}

.navbar {
  border: 3px solid #54acea;
  border-radius: 2%;
}

.logo-image {
  /*max-height: 30%;*/
}

.nav-content {
  margin: 0 2%;
}

.home-top {
  margin: 0 3%;
  text-align: center;
}

.home-top h1 {
  color: #ff0000;
  padding-bottom: 25px;
}

.home-top p {
  font-size: 24px;
  color: #54acea;
}

.home-drawing {
  padding: 30px;
}

.gallery-top {
  margin-left: 40px;
}

.drawings-display {
  padding: 40px;
}

.drawings-row {
  margin-bottom: 30px;
}

.gallery-drawing-container {
  padding: 0px 40px 80px 40px;
}

.gallery-image {
  width: 100%;
}

.drawing-title {
  font-size: 20px;
}

.like-icon {
  font-size: 20px;
}

.gallery-drawing-container .like-icon {
  float: right;
}


.like-icon-focused {
  font-size: 30px;
  font-weight: bold;

}

.likes-label, .views-label {
  font-size: 16px;
}

.views-label {
  margin-left: 6px;
}

.detail-info {
    display: inline-block;
    margin-top: 1.5em;
    padding-bottom: 5em;
}

.info-block {
    display: inline-block;
    width: 25%;
}

.info-block:first-child {
    margin-right: 3em;
}

.detail-heading {
    margin-bottom: 1em;
}

#detailContainer {
    margin-top: 2em;
    margin-left: 4em;
    text-align: center;
}

#detail-image {
    margin-bottom: 2em;
}

#featuredDrawings {
    padding-left: 15px;
}
