h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', sans-serif;
}

body {
  font-family: 'Quattrocento', serif;
}

a:hover {
  text-decoration: none !important;
}

.navbar-nav > li > a{
  padding: 10px !important;
}

.nav-content {
  margin: 0 2%;
}

.home-top {
  margin: 0 3%;
  text-align: center;
}

.home-top h1 {
  color: #ff0000;
  padding-bottom: 25px;
}

.home-top p {
  font-size: 24px;
  color: #54acea;
}

.gallery-top {
  margin-left: 40px;
}

.drawings-display {
  margin: 20px;
  padding: 20px;
}

.drawings-row {
  margin-bottom: 30px;
}

.gallery-image {
  width: 80%;
}
