<link rel="stylesheet" type="text/css" href="/static/main/canvas.css">
<!-- Need to Switch href between prod and devo -->

<droop-navbar></droop-navbar>
<div id="controlArea">
    <h3 id="prompt"> {{ featuredPrompt }} </h3>
    <div id="colorArea" class="content-area">
        Pick a color: <span><button id="black" class="btn-sm color currently-used">Black</button><button id="red" class="btn-sm color">Red</button><button id="blue" class="btn-sm color">Blue</button><button id="purple" class="btn-sm color">Purple</button><button id="green" class="btn-sm color">Green</button><button id="yellow" class="btn-sm color">Yellow</button><button id="brown" class="btn-sm color">Brown</button></span></br>
    </div>
    <div id="toolArea" class="content-area">
        Pick a tool: <span><button id="marker" class="btn-sm tool currently-used">Marker</button><button id="eraser" class="btn-sm tool">Eraser</button></span></br>
    </div>
    <div id="drawSizeArea" class="content-area">
        Pick a drawing size: <span><button id="small" class="btn-sm draw-size">Small</button><button id="regular" class="btn-sm draw-size currently-used">Regular</button><button id="large" class="btn-sm draw-size">Large</button><button id="extraLarge" class="btn-sm draw-size">Extra Large</button><button id="bigBertha" class="btn-sm draw-size">Big Bertha</button></span></br>
    </div>
    <div id="clearArea" class="content-area">
        Clear the canvas: <button id="clear" class="btn-sm">Clear</button> </br>
    </div>
    <div id="undo" class="content-area">
        <button id="clear" class="btn-sm">Undo</button> </br>
    </div>
    <div id="submitArea" class="content-area">
      <label>Submit your masterpiece:</label><button class="btn-sm" type="button" ng-click="saveImage()">Submit</button>
    </div>
</div>

<!-- ng-src="{{drawing.imageUrl}}"  -->
<img data-root="{{drawing.imageUrl}}" id="img" alt=""/>
<div id="canvasArea">
    <canvas id="canvas3"></canvas>
    <canvas id="canvas"></canvas>
    <canvas id="canvas2"></canvas>
</div>

<script type="text/javascript" src="/static/main/canvas.js"></script>
