<div id="detailContainer">
    <h1 id="detailTitle" class="detail-heading">{{drawing.title}}</h1>
    <br />
    <img id="detail-image" src="{{drawing.imageUrl}}">
    <br />

    <!-- <div class="detail-info"> -->
        <!-- <div class="info-block"> -->
            <!-- <label>Metrics:</label> -->
            <span>{{drawing.likes}} Likes <span>
            <span>{{drawing.views}} Views</span>
            <a><span class="like-icon glyphicon glyphicon-thumbs-up" ng-class="{true: 'like-icon-focused'}[drawing.liked]" ng-click="toggleDrawingLike(drawing)"></span>
        <!-- </div> -->
    <!-- </div> -->

    <label>Created at:</label>{{drawing.date | date: ' MMMM dd, yyyy'}}
</div>
