<div id="detailContainer">
    <h1 id="detailTitle" class="detail-heading">{{drawing.title}}</h1>
    <br />
    <img id="detail-image" src="{{drawing.imageUrl}}">
    <br />

    <div class="detail-info">
        <div class="info-block">
            <label>Metrics:</label></br>
            {{drawing.likes}} Likes</br>
            {{drawing.views}} Views</br>
            <a><span class="like-icon glyphicon glyphicon-thumbs-up" ng-class="{true: 'like-icon-focused'}[drawing.liked]" ng-click="toggleDrawingLike(drawing)"></span>
        </div>
    </div>
    </br>

    <label>Created at:</label>{{drawing.date | date: ' MMMM dd, yyyy'}}
</div>
