<droop-navbar></droop-navbar>
<div class="gallery-top">
    <span class="completed-drawings">Completed Drawings</span>
    <input class="search-input" type="text" placeholder="Search By Theme" ng-model="searchKey"/>
    <label>Sort By</label>
    <select ng-model="drawingSort">
        <option value="-date">Most Recent</option>
        <option value="-views">Most Viewed</option>
    </select>
</div>

<div class="drawings-display gallery-drawings-display">
    <div class="row drawings-row">
        <div ng-repeat="drawing in drawings | filter: {title: searchKey} | orderBy: drawingSort">
            <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div class="col-sm-4 gallery-drawing-container">
                <a class="drawing-title" href="#!/gallery/{{drawing.id}}">{{drawing.title}}
                    <img class="gallery-image" ng-src="{{drawing.imageUrl}}">
                </a>
                <br />
                <label class="views-label">{{drawing.views}} Views</label>
            </div>
        </div>
    </div>
</div>
