
<div class="gallery-top">

    <input type="text" placeholder="Search By Theme" />
    <label>Sort By</label>
    <select>
        <option>Most Recent</option>
        <option>Most Viewed</option>
        <option>Most Liked</option>
    </select>
</div>


<div class="drawings-display gallery-drawings-display">
    <div class="row drawings-row">
        <div ng-repeat="drawing in drawings">
            <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div class="col-sm-4 gallery-drawing-container">
                <a class="drawing-title" href="#!/gallery/{{drawing.id}}">{{drawing.collectionId | collectionIdToTitle}}
                    <img class="gallery-image" src="{{drawing.imageUrl}}">
                </a>
                <br />
                <label class="likes-label">{{drawing.likes}} Likes</label>
                <label class="views-label">{{drawing.views}} Views</label>
                <a><span class="like-icon glyphicon glyphicon-thumbs-up" ng-class="{true: 'like-icon-focused'}[drawing.liked]" ng-click="toggleDrawingLike(drawing)"></span>
            </div>
        </div>
    </div>
</div>
