
<div class="container-fluid">

  <div class="home-top">
    <h1>Welcome to Droop</h1>
    <p>Droop allows you to collaboratively create drawings. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>


  <div class="drawings-display">
    <h2>Featured Drawings</h2>
    <div class="row">
        <div ng-repeat="drawing in featuredDrawings">
            <div class="clearfix drawings-row" ng-if="$index % 3 == 0"></div>
            <div class="col-sm-4">
                <a href="#!/gallery/{{drawing.id}}">{{drawing.title}}</a>
                <img class="gallery-image" src="{{drawing.imageUrl}}">
                <!-- <a href="#!/gallery/{{drawing.id}}"><button>View</button></a> -->
            </div>
        </div>
    </div>
  </div>
</div>
