
<div class="container-fluid">

  <div class="home-top">
    <h1>Welcome to Droop</h1>
    <p>Droop allows you to collaboratively create drawings. <br /> On the Canvas page, you will be greeted with a canvas
        and a prompt that will tell you what to add to the canvas.<br /> Your canvas may or may not have some art on it already.<br />
        Once you are finished adding your contributions to the piece of art, you can submit it. <br /> Afterwards be sure to explore
        our gallery and see the other pieces of artwork that users on Droop have created.
    </p>
  </div>

  <hr>

  <div class="drawings-display">
    <h1 id="featuredDrawings">Featured Drawings</h1>
    <div class="row">
        <div ng-repeat="drawing in featuredDrawings">
            <div class="clearfix drawings-row" ng-if="$index % 3 == 0"></div>
            <div class="col-sm-4 home-drawing">
              <a class="drawing-title" href="#!/gallery/{{drawing.id}}">{{drawing.collectionId | collectionIdToTitle}}
                <img class="gallery-image" src="{{drawing.imageUrl}}">
              </a>
            </div>
        </div>
    </div>
  </div>
</div>
