<nav class="navbar navbar-default">
  <div class="container-fluid nav-content">
    <div class="navbar-header">
    </div>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#!/">
          <img id="logo-image" src="/static/main/assets/logo.png">
        </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right nav-gallery-canvas">
        <li class="nav-item"><a href="#!/gallery"><h1 class="nav-link">Gallery</h1></a></li>
        <li class="nav-item"><a href="#!/canvas"><h1 class="nav-link">Canvas</h1></a></li>
      </ul>
    </div>
  </div>
</nav>
