<nav class="navbar navbar-default">
  <div class="container-fluid nav-content">
    <div class="navbar-header">
    </div>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#!/"><h2>Droop</h2></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right nav-gallery-canvas">
        <li><a href="#!/gallery"><button class="btn btn-default btn-lg navbar-btn nav-butto">Gallery</button></a></li>
        <li><a href="#!/canvas"><button class="btn btn-default btn-lg navbar-btn nav-button">Canvas</button></a></li>
      </ul>
    </div>
  </div>
</nav>
