html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

button {
    padding: 0.5em;
}

.content-area {
    display: inline-block;
    padding-right: 1em;
}

#canvasArea {
    display: block;
}

#canvas {
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
    position: absolute;
    left: 5%;
    top: 30%;
}

#controlArea {
    margin: 0 auto;
}

#prompt {
    text-align: center;
    padding-bottom: 1em;
}

#img {
    display: none;
    border: 1px solid rgb(0,0,0);
    position: absolute;
    left: 50px;
    top: 150px;
}

#btnSave {
    position: absolute;
    left: 50%;
    top: 93%;
    text-align: center;
}
