<!DOCTYPE html>
<html ng-app="droopApp">
  <head>
    <meta charset="utf-8">
    <title>Droop</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.3/angular-resource.js"></script>
    <script type="text/javascript" src="static/main/app.js"></script>

  </head>
  <body>
    <h1>Droop</h1>
    <div ng-view></div>
  </body>
</html>
