<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Droop - Canvas</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="Styles/canvas.css">
    </head>
    <body>
        Clear the canvas: <button id="clear">Clear</button> </br>
        Pick a color: <span><button id="purple" class="color">Purple</button><button id="green" class="color">Green</button><button id="yellow" class="color">Yellow</button><button id="brown" class="color">Brown</button></span> </br>
        Pick a tool: <span><button id="marker">Marker</button><button id="eraser">Eraser</button></span>
        <canvas id="canvas" width="1400" height="550"></canvas> <!-- Because css would stretch canvas TODO: Set this genarliazed to screen size-->
        <script type="text/javascript" src="JSFiles/canvas.js"></script>
    </body>
</html>
